<!DOCTYPE html>
<html>

<body>
  <div class="textOverImage" >
    <img src="assets/images/worldInYourLap.jpg" alt="laptopWorld" height="800px" width="100%">
    <div class="centered" >
      <div class="textBox">
        <div>
        <h1 style="font-size:400%;color:rgb(233, 72, 72)">
          Welcome to the World
        </h1>
        <h1 style="font-size:400%;color:rgb(233, 72, 72)">
          of Cervantes !!
        </h1>
      </div>
      <div>
        <h1 style="font-weight: bold;font-size:200%;color:rgb(223, 71, 71)">
          The Era of 5g Starts from here !
        </h1>
      </div>
      <marquee behavior="scroll" direction="left" onmousedown="this.stop();" onmouseup="this.start();"
        style="font-size:30px;color: black;">
        
      </marquee>
    </div>
    </div>
  </div>
  <!-- Using Angular Cards for rendering -->

  <!-- Card 1 -->
  <mat-grid-list cols="3" rowHeight="3.3:4.0" >

    <mat-grid-tile>
      <div>
        <div fxLayout="row" fxLayoutGap="20px" [style.margin-top]="'20px'">
          <mat-card class="example-card">
            <!-- <div mat-card-avatar>   </div>  code for empty space above card 1 -->

            <img mat-card-image src="assets/images/ethernetConnectivity.jpg" height="100%" width="100%">
            <span class="mat-body-1">
              <h1>The Speed of Light </h1>
            </span>
            <div class="mat-body-1"> Office like connectivity at home !</div>
          </mat-card>
        </div>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>

      <div>
        <div fxLayout="row" fxLayoutGap="20px" [style.margin-top]="'20px'">
          <mat-card class="example-card">
            <!-- <div mat-card-avatar>   </div>  code for empty space above card 1 -->

            <img mat-card-image src="assets/images/SocialMediaAllInOne.jpg" height="100%" width="100%">
            <span class="mat-body-1">
              <h1>Top Notch Connectivity </h1>
            </span>
            <div class="mat-body-1"> Remain Socailly Connected all the time !</div>
          </mat-card>
        </div>
      </div>

    </mat-grid-tile>

    <mat-grid-tile>
      
    </mat-grid-tile>

    <mat-grid-tile>
      
    </mat-grid-tile>

    <mat-grid-tile>
      
    </mat-grid-tile> 

  </mat-grid-list>


    <!-- Card 2 -->

</body>
<html>