.mat-toolbar {
    background: url('src/assets/images2/BlueGrad2.jpg') no-repeat center;
    background-size: cover;
    color: #fff;
    height: 60px;
  }

  .bgImage {
    background: linear-gradient(to right, rgb(4, 20, 94),rgb(9, 31, 131),rgb(7, 56, 112),rgb(12, 82, 148),rgb(17, 60, 151),rgb(82, 7, 136),rgb(82, 7, 136),rgb(82, 7, 136),rgb(187, 25, 187));
    background-color: blue; 
     height: 100vh; 
     background-size: cover;
     z-index: 1;
   }
